.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom:0px
}

.lottery-balls-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lottery-balls {
  display: flex;
  flex-wrap: wrap;
  max-width: 720px;
  min-width: 320px;
  padding: 1rem 2rem;
  justify-content: center;
}

.lotteryBall {
  width: 40px;
  height: 40px;
  margin: 0.5rem;
  border-radius: 100%;
}

button[aria-pressed='true'] {
  background-color: rgb(32, 32, 32);
  border: 0px;
  color: white;
}
